/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein*
*~
.idea
/.DS_Store
closure
/core.js
/coreadvanced.js
/coresimple.js
/out
.repl
*.swp
*.zip
clojurescript_release_*
closure-release-*
