.container {
  text-align: center;
  padding: 10%;
  height: 400px;
}

.column {
  height: 350px;
  width: 100px;
  display: inline-block;
  text-align: center;
  margin: 0 50px;
}

.variable {
}

.slider, .results {
  height: 250px;
  margin: 40px;
}

.variable-value {
  width: 40px;
  text-align: center;
}

.dont-show {
  display: none;
}
